.popup-photo__text {
    margin: 10px 0 0;
    width: 291px;
    font-family: Inter, sans-serif, "Arial";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: left;

}
