{
  "extends": ["airbnb-base",
    "plugin:react/recommended"
  ],
  "globals": {
    "history": true,
    "localStorage": true,
    "fetch":true,
    "console": true,
    "document": true,
    "Promise": true
  },
  "rules": {
    "prefer-promise-reject-errors": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": 0,
    "react/prop-types": 0,
    "no-underscore-dangle": [
      2,
      {
        "allow": [
          "_id",
          "_fetch",
          "_headers",
          "_baseUrl"

        ]
      }
    ]
  },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }

}