{
  "extends": ["airbnb-base"
  ],
  "globals": {
    "console": true

  },
  "rules": {
    "prefer-promise-reject-errors": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": 0,
    "react/prop-types": 0,
    "no-underscore-dangle": [
      2,
      {
        "allow": [
          "_id",
          "_fetch",
          "_headers",
          "_baseUrl"
        ]
      }
    ]
  },

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }

}
