.popup__window-content {

}

@media screen and (max-width: 400px) {
    .popup__window-content {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}