.card__del-button {
    width: 20px;
    height: 18px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 18px;
    right: 15px;
    background-image: url("../../../images/trash.svg");
    cursor: pointer;
    transition: opacity .5s ease;
}

.card__del-button:focus {
    outline: none;
}

.card__del-button:hover {
    opacity: .8;
}