.popup__container {
    width: 471px;
    height: 371px;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 400px) {
    .popup__container {
        width: 280px;

    }
}